body{
    background: #474343;
    scrollbar-width: ;
}

.inner{
    height: 1000px;
}

.text{
    color: white;
}

.rectangle{
    background: #ffffff;
    position: fixed; 
    margin-top: 400px;
    right:50px;
    bottom:100px ;
    top: 400px;
    width: 50%;
    height: 100px;
    margin-bottom: 100px;
    border-radius: 15px;


}

.circle{
    background: #ff0000;
    position: absolute;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    left: 45px;
    bottom: 50%;
}