body {
    font-size: 20px;

}
* {
    box-sizing: border-box;

}
.block, .inline{
    background: #b8a5a5;
}
.block{
    padding: 40px;
    margin: 50px;

}
    .block{
        display: inline-block;
        width: 400px;
        
    }

.inline{
    display: none;
}